body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text {
    font-size: 2em;
    margin: 20px;
}

.buttons {
    margin-top :0px;
    display: flex;
    justify-content: flex;
}

.vse {
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    border: solid 2px;
    background: rgb(241, 22, 95);
    font-size: 30px;
}
#dontClick {
    background-color: white;
    color: red;
    position: static;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
    border-color: red;

}

#dontClick:hover{
  color:white;
  background-color: red;
  border-color: red;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}

/* #Clickk {
    background-color: green;
    color: green;
} */
button:focus,
button:active{
    outline: none;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .blob-btn {
    z-index: 1;
    position: static;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: green;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
  }
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    border-radius: 30px;
  }
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }
  .blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
  }
  .blob-btn:hover:after {
    /* color: #FFFFFF; */
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
  }
  .blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: green;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  @supports (filter: url("#goo")) {
    .blob-btn__blob {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }
  }
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
  }
  .blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
  }
  .blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
  }
  .blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
  }
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
  @supports (filter: url("#goo")) {
    .blob-btn:hover .blob-btn__blob {
      transform: translateZ(0) scale(1.4);
    }
  }